{% extends "layout.njk" %}

{% block head %}
<title>Conteúdos: Rocketseat</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    
    <section>
        <div class="info" id="footer">
            <h1>Cursos da Rocketseat</h1>
        </div>

        <div class="content-grid">
            {% for item in items %}
            <div class="content" id="{{item.id}}">
                <img src="/img/{{item.picture}}" alt="{{item.title}}">
                <h2>{{item.title}}</h2>
                <ul>
                    <li>Número de módulos: {{item.modules}}</li>
                    <li>{{item.price}}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
        

    </section>
    

    <div id="footer" class="links">
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">GitHub</a>
        <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">Linkedin</a>
    </div>
    
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <a class="maximize-modal">
                <i class="material-icons">maximize</i>
            </a>
            <div class="modal-content">
                <iframe src="https://rocketseat.com.br/starter" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}