{% extends "layout.njk" %}

{% block head %}
<title>Conteúdos: Rocketseat</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="info" id="footer">
            <h1>Cursos da Rocketseat</h1>
        </div>
    
        <div class="content-grid">
            <div class="content" id="starter">
                <img src="/img/starter.svg" alt="Starter">
                <h2>Starter</h2>
                <ul>
                    <li>Número de módulos: 14</li>
                    <li>Gratuito</li>
                </ul>
            </div>
            <div class="content" id="launchbase">
                <img src="/img/launchbase.svg" alt="LaunchBase">
                <h2>LaunchBase</h2>
                <ul>
                    <li>Número de módulos: 33</li>
                    <li>Pago</li>
                </ul>
            </div>
            <div class="content" id="gostack">
                <img src="/img/gostack.svg" alt="GoStack">
                <h2>GoStack</h2>
                <ul>
                    <li>Número de módulos: 109</li>
                    <li>Pago</li>
                </ul>
            </div>
        </div>
    </section>

    <div id="footer" class="links">
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">GitHub</a>
        <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">Linkedin</a>
    </div>
    
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <a class="maximize-modal">
                <i class="material-icons">maximize</i>
            </a>
            <div class="modal-content">
                <iframe src="https://rocketseat.com.br/starter" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}