{% extends "layout.njk" %}

{% block content %}

    <div class="info">
        <img src="/img/ProfilePhoto.jpg" alt="Logo da Rocketseat">
        <h1>Gustavo Rodrigues</h1>
        <p>
            Graduando em Análise e Desenvolvimento de Sistemas (Tecnólogo).
        </p>
    </div>

    <div id="footer" class="links">
        <a href="https://github.com/kust44" target="_blank">GitHub</a>
        <a href="https://twitter.com/gustavosr99" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/gustavorodriguespr/" target="_blank">Linkedin</a>
    </div>

    <section>
        <div class="info" id="footer">
            <h1>Projetos do GitHub</h1>
        </div>
        <!--
        <div class="content-grid">

            
            <div class="content" id="starter">
                <img src="" alt="{{item.title}}">
                <h2></h2>
                <ul>
                    <li>Descrição: </li>
                    <li>Link para o projeto: </li>
                    <li>Tecnologias utilizadas: </li>
                </ul>
            </div>
            

        </div>
        -->
    </section>
    
    <div class="content-grid">
    {% for item in items %}
    <div class="card">
        <section class="avatar">
            <img src="/img/{{item.picture}}" alt="">
        </section>
        <section class="details">

            <h3>{{item.title}}</h3>

            <div class="item">
                <div>Descrição</div>
                <div>{{item.description}}</div>
            </div>

            <div class="item">
                <div>Link</div>
                <div>{{item.link}}</div>
            </div>

            <div class="item">
                <div>Tecnologias utilizadas:</div>
                <div>
                    {% for tech in item.tech %}
                    <span>{{tech}}</span>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    {% endfor %}
    </div>

{% endblock %}