{% extends "layout.njk" %}

{% block content %}

    <div class="info">
        <img src="/img/ProfilePhoto.jpg" alt="Logo da Rocketseat">
        <h1>Gustavo Rodrigues</h1>
        <p>
            Graduando em Análise e Desenvolvimento de Sistemas (Tecnólogo).
        </p>
    </div>

    <div id="footer" class="links">
        <a href="https://github.com/kust44" target="_blank">GitHub</a>
        <a href="https://twitter.com/gustavosr99" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/gustavorodriguespr/" target="_blank">Linkedin</a>
    </div>

    <section>
        <div class="info" id="footer">
            <h1>Projetos do GitHub</h1>
        </div>
    
        <div class="content-grid">

            {% for item in items %}
            <div class="content" id="starter">
                <img src="/img/{{item.picture}}" alt="{{item.title}}">
                <h2>{{item.title}}</h2>
                <ul>
                    <li>Descrição: {{item.description}}</li>
                    <li>Link para o projeto: {{item.link}}</li>
                    <li>Tecnologias utilizadas: {{item.tech}}</li>
                </ul>
            </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}