{% extends "layout.njk" %}

{% block head %}
<title>Sobre: Rocketseat</title>
{% endblock %}

{% block content %}

    <div class="info">
        <img src="/img/rocketseat.jpg" alt="Logo da Rocketseat">
        <h1>Rocketseat</h1>
        <p>
            Aprenda a dominar a melhor stack para programação utilizada pelas maiores empresas do mundo com os cursos da Rocketseat.
        </p>
        <div class="list">
            <ul> Tecnologias trabalhadas:
                <li>Javascript</li>
                <li>Node</li>
                <li>React</li>
                <li>React-Native</li>
            </ul>
        </div>
    </div>

    <div id="footer" class="links">
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">GitHub</a>
        <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">Linkedin</a>
    </div>
{% endblock %}