@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
    --color-background: #282A36;
    --color-white: #FFFFFF;
    --color-detail: yellowgreen;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    color: var(--color-white);
    background: var(--color-background);
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 3px solid;
    border-color: var(--color-white);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px;
    font-size: 18px;
    text-align: center;
}

.list ul {
    text-align: center;
    padding: 20px;
}

.links {
    text-align: center;
}

.links a {
    margin: 15px;
    color: var(--color-white);
    text-decoration: none;
}

.links a:hover {
    color: var(--color-detail);
    transition: 500ms;
}

.info {
    text-align: center;
    align-items: center;
}

.info img {
    margin-bottom: 16px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--color-detail);
}

.info h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 16px;
}

.info p {
    padding: 16px;
} 

#footer {
    margin-bottom: 16px;
}

ul {
    text-align: left;
    margin-left: 20px;
}

#footer a {
    border-bottom: 1px solid var(--color-detail);
}   

/*=== CARD ===*/

.card {
    background-color: white;
    max-width: 500px;
    min-width: 400px;
    min-height: 200px;

    margin: 45px auto;
    
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);

    opacity: 0;

    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;   
}

.avatar {
    display: block;
    margin: auto;
}

@keyframes up {
    from {
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}

/* details */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    color: #222;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    font-size: 24px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-background);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/*=== CARD PEQUENO ===*/

.content-grid {
    padding: 50px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.content {
    padding: 32px;
    filter: brightness(90%);
    border: 2px solid var(--color-detail);
    background-color: #252733;
    border-radius: 60px;
    cursor: pointer;
}

.content img {
    margin-bottom: 20px;
}

.content h2 {
    text-align: left;
    margin-bottom: 20px;
}

.content.solo {
    margin: 32px auto;
    text-align: center;
    max-width: 400px;
    padding: 32px;
    filter: brightness(90%);
    border: 2px solid var(--color-detail);
    background-color: #252733;
}

/*        MODAL        */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize-modal {
    color: black;
    position: absolute;
    right: 34px;
    top: 12px;
    cursor: pointer;
}

/*        MODAL.ACTIVE        */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal.maximized {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;

}